{% extends 'MovieRentalBundle::layout.html.twig'%}

{% block links %}
  <li><a href="{{path('movie_rental_main')}}">Home</a></li>
  <li><a href="{{path('movie_rental_melodramaGenre')}}">Melodrama</a></li>
  <li class="active"><a href="{{path('movie_rental_comedyGenre')}}">Comedy</a></li>
  <li><a href="{{path('movie_rental_dramaGenre')}}">Drama</a></li>
  <li><a href="{{path('movie_rental_horrorGenre')}}">Horror</a></li>
  <li><a href="{{path('movie_rental_fantasyGenre')}}">Fantasy</a></li>
  <li><a href="{{path('movie_rental_scienceGenre')}}">Science fiction</a></li>
  <li><a href="{{path('movie_rental_cartoonGenre')}}">Cartoons</a></li>
 {% endblock %} 
 
 
 {% block quote %}
 "The only honest art form is laughter, comedy. You can't fake it... try to fake three laughs in an hour -- ha ha ha ha ha -- they'll take you away, man. You can't."
 {% endblock %}
 
  {% block author %}
   Lenny Bruce
 {% endblock %}
 
 {% block image %}
  <a href="{{path('movie_rental_bean')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/bean.jpeg') }}" alt=""></a>
  {% endblock %}
  
  
  {% block title %}   
 <a href="{{path('movie_rental_bean')}}"><font color="#FFAF0A">Mr. Bean</font></a>
  {% endblock %}
  
  {% block year %}   
      1997
  {% endblock %}
  
  {% block description %}  
                 The bumbling Mr. Bean travels to America when he is given the responsibility of bringing a highly valuable painting to a Los Angeles museum.
  {% endblock %}
  
  
    {% block title1 %}   
   <a href="{{path('movie_rental_words')}}"><font color="#FFAF0A">A Thousand Words</font></a>
  {% endblock %}
  
  {% block year1 %}   
      2012
  {% endblock %}
  
  {% block description1 %}  
               After stretching the truth on a deal with a spiritual guru, literary agent Jack McCall finds a Bodhi tree on his property.
			   Its appearance holds a valuable lesson on the consequences of every word we speak.
  {% endblock %}
  
  {% block image1 %}   
    <a href="{{path('movie_rental_words')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/words.jpg') }}" alt=""></a>
  {% endblock %} 
  
  {% block image2 %}
  <a href="{{path('movie_rental_paul')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/paul.jpg') }}" alt=""></a>
  {% endblock %}
  
  
 