{% extends 'MovieRentalBundle::layout.html.twig'%}

{% block links %}
<li><a href="{{path('movie_rental_main')}}">Home</a></li>
  <li><a href="{{ path('movie_rental_melodramaGenre')}}">Melodrama</a></li>
  <li><a href="{{ path('rent_movie_comedyGenre')}}">Comedy</a></li>
  <li class="active"><a href="{{ path('rent_movie_dramaGenre')}}">Drama</a></li>
  <li><a href="{{ path('movie_rental_horrorGenre')}}">Horror</a></li>
  <li><a href="{{ path('movie_rental_fantasyGenre')}}">Fantasy</a></li>
  <li><a href="{{ path('movie_rental_scienceGenre')}}">Science fiction</a></li>
  <li><a href="{{ path('movie_rental_cartoonGenre')}}">Cartoons</a></li>
 {% endblock %} 
 
 
 {% block quote %}
 "I made mistakes in drama. I thought drama was when actors cried. But drama is when the audience cries."
 {% endblock %}
 
  {% block author %}
   Frank Capra
 {% endblock %}
 
 {% block image %}
  <a href="{{path('movie_rental_game')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/game.jpg') }}" alt=""></a>
  {% endblock %}
  
  
  {% block title %}   
  <a href="{{path('movie_rental_game')}}"><font color="#FFAF0A">The Imitation Game</font></a> 
  {% endblock %}
  
  {% block year %}   
      2014
  {% endblock %}
  
  {% block description %}  
     During World War II, mathematician Alan Turing tries to crack the enigma code with help from fellow mathematicians.
  {% endblock %}
  
  
    {% block title1 %}   
  <a href="{{path('movie_rental_mind')}}"><font color="#FFAF0A">A Beautiful Mind</font></a> 
  {% endblock %}
  
  {% block year1 %}   
      2001
  {% endblock %}
  
  {% block description1 %}  
         After a brilliant but asocial mathematician accepts secret work in cryptography, his life takes a turn for the nightmarish.
  {% endblock %}
  
  {% block image1 %}   
  <a href="{{path('movie_rental_mind')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/mind.jpg') }}" alt=""></a>
  {% endblock %} 