{% extends 'MovieRentalBundle::layout.html.twig'%}

{% block links %}
<li><a href="{{path('movie_rental_main')}}">Home</a></li>
  <li><a href="{{ path('movie_rental_melodramaGenre')}}">Melodrama</a></li>
  <li><a href="{{ path('movie_rental_comedyGenre')}}">Comedy</a></li>
  <li><a href="{{ path('movie_rental_dramaGenre')}}">Drama</a></li>
  <li><a href="{{ path('movie_rental_horrorGenre')}}">Horror</a></li>
  <li class="active"><a href="{{ path('movie_rental_fantasyGenre')}}">Fantasy</a></li>
  <li><a href="{{ path('movie_rental_scienceGenre')}}">Science fiction</a></li>
  <li><a href="{{ path('movie_rental_cartoonGenre')}}">Cartoons</a></li>
 {% endblock %} 
 
 
 {% block quote %}
 "Fantasy is a necessary ingredient in living, it's a way of looking at life through the wrong end of a telescope, 
 and that enables you to laugh at life's realities."
 {% endblock %}
 
  {% block author %}
   Dr. Seuss
 {% endblock %}
 
 {% block image %}
  <a href="{{path('movie_rental_hobbitOne')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/hobbit1.jpg') }}" alt=""></a>
  {% endblock %}
  
  
  {% block title %}   
 <a href="{{path('movie_rental_hobbitOne')}}"><font color="#FFAF0A">The Hobbit: An Unexpected Journey</font></a>
  {% endblock %}
  
  {% block year %}   
      2012
  {% endblock %}
  
  {% block description %}  
    A reluctant hobbit, Bilbo Baggins, sets out to the Lonely Mountain
	with a spirited group of dwarves to reclaim their mountain home - and the gold within it - from the dragon Smaug.
  {% endblock %}
  
  
    {% block title1 %}   
  <a href="{{path('movie_rental_hobbitTwo')}}"><font color="#FFAF0A">The Hobbit: The Desolation of Smaug</font></a> 
  {% endblock %}
  
  {% block year1 %}   
      2013
  {% endblock %}
  
  {% block description1 %}  
        The dwarves, along with Bilbo Baggins and Gandalf theGrey, continue their quest to reclaim Erebor, 
		their homeland, from Smaug. Bilbo Baggins is in possession of a mysterious and magical ring.
  {% endblock %}
  
  {% block image1 %}   
  <a href="{{path('movie_rental_hobbitTwo')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/hobbit2.jpg') }}" alt=""></a>
  {% endblock %} 