{% extends 'MovieRentalBundle::layout.html.twig'%}

{% block links %}
<li><a href="{{path('movie_rental_main')}}">Home</a></li>
  <li><a href="{{ path('movie_rental_melodramaGenre')}}">Melodrama</a></li>
  <li><a href="{{ path('movie_rental_comedyGenre')}}">Comedy</a></li>
  <li><a href="{{ path('movie_rental__dramaGenre')}}">Drama</a></li>
  <li class="active"><a href="{{ path('movie_rental_horrorGenre')}}">Horror</a></li>
  <li><a href="{{ path('movie_rental_fantasyGenre')}}">Fantasy</a></li>
  <li><a href="{{ path('movie_rental_scienceGenre')}}">Science fiction</a></li>
  <li><a href="{{ path('movie_rental_cartoonGenre')}}">Cartoons</a></li>
 {% endblock %} 
 
 
 {% block quote %}
 "Death in the horror movies is when the monsters get you."
 {% endblock %}
 
  {% block author %}
 Stephen King, Danse Macabre
 {% endblock %}
 
 {% block image %}
  <a href="{{path('movie_rental_sinister')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/sinister.jpg') }}" alt=""></a>
  {% endblock %}
  
  
  {% block title %}   
   <a href="{{path('movie_rental_sinister')}}"><font color="#FFAF0A">Sinister</font></a> 
  {% endblock %}
  
  {% block year %}   
      2012
  {% endblock %}
  
  {% block description %}  
    A true-crime writer finds a cache of 8mm home movies films that suggest the murder he is currently researching
	is the work of a serial killer whose career dates back to the 1960s.
  {% endblock %}
  
  
    {% block title1 %}   
  <a href="{{path('movie_rental_conjuring')}}"><font color="#FFAF0A">The Conjuring</font></a> 
  {% endblock %}
  
  {% block year1 %}   
      2013
  {% endblock %}
  
  {% block description1 %}  
        Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse.
  {% endblock %}
  
  {% block image1 %}   
  <a href="{{path('movie_rental_conjuring')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/movierental/images/conjuring.jpg') }}" alt=""></a>
  {% endblock %} 