<!DOCTYPE html>
<HTML>
	<head>
		<title>Film Rental</title>
		<meta charset="UTF-8">
		<link href="{{ asset('bundles/movierental/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
		<style>
			('.carousel').carousel()
		</style>
		
		<style>
			h4 {color:orange;
			font-size:2em;
			font-variant: small-caps;}
			h5 {font-size: 125%;
			font-weight: bold;}
			body{margin: 25px 5px;}
			.overlay { 
			color:#fff;
			position:absolute;
			z-index:12;
			top:50%;
			left:0;
			width:100%;
			text-align:center;
			}
			a.white {color:#CCEEFF;}
			h3 {
			background-color: rgba(203, 233, 247, 0.5);;
			}
			form.a {
			display: inline;
			}
		</style>
		<script type="text/javascript">
		//	window.onbeforeunload = function() {
		//	return "Bye now!";
		//	};
        </script>
	</head>
	<body>	
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<h4 align="center">Most borrowed</h4>
					<div class="container"><br>
						<div id="myCarouselBorrowed" class="carousel slide" data-ride="carousel" style="width:200px">
						
						<ol class="carousel-indicators">
							<li data-target="#myCarouselBorrowed" data-slide-to="0" class="active"></li>
							<li data-target="#myCarouselBorrowed" data-slide-to="1"></li>
							<li data-target="#myCarouselBorrowed" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner" role="listbox">

						<div class="item">
							<div class="overlay"><a class="white" href="{{path('movie_rental_conjuring')}}"><h3>Сonjuring</h3></a></div>
							<a href="{{path('movie_rental_conjuring')}}"><img src="{{ asset('bundles/movierental/images/conjuring.jpg') }}" ></a>
						</div>
						<div class="item active">
							<div class="overlay"><a class="white" href="{{path('movie_rental_hobbitOne')}}"><h3>The Hobbit: An Unexpected Journey</h3></a></div>
							<a href="{{path('movie_rental_hobbitOne')}}"><img src="{{ asset('bundles/movierental/images/hobbit1.jpg') }}"></a>
						</div>

					
						</div>
    
						<a class="carousel-control left" href="#myCarouselBorrowed" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarouselBorrowed" data-slide="next">&rsaquo;</a>
						</div>
					</div>
						
					<h4 align="center">Most reviewed</h4>
					<div class="container"><br>
						<div id="myCarouselReviewed" class="carousel slide" data-ride="carousel" style="width:200px">
						
						<ol class="carousel-indicators">
							<li data-target="#myCarouselReviewed" data-slide-to="0" class="active"></li>
							<li data-target="#myCarouselReviewed" data-slide-to="1"></li>
							<li data-target="#myCarouselReviewed" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner" role="listbox">

						<div class="item active">
							<div class="overlay"><a class="white" href="{{path('movie_rental_hobbitOne')}}"><h3>The Hobbit: An Unexpected Journey</h3></a></div>
							<a href="{{path('movie_rental_hobbitOne')}}"><img src="{{ asset('bundles/movierental/images/hobbit1.jpg') }}"></a>
						</div>
					  
						</div>
						<a class="carousel-control left" href="#myCarouselReviewed" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarouselReviewed" data-slide="next">&rsaquo;</a>
						</div>
					</div>
				</div>
				
				<div class="span10">
				
				{% if name is not defined %}
					<form class="form-horizontal"  enctype="multipart/form-data" align="right" method="POST" action="{{path('movie_rental_main')}}">
						<input class="input" type="text"  name="login"  placeholder="Login">	
						<input class="input" type="password" name="password"  placeholder="Password">
						<button type="submit" class="btn btn-primary">Login</button>
						<a href="{{path('movie_rental_register')}}">Register</a>
					</form>
				{% endif %}
					{% if name is defined %}
						<div align="right" class="alert">
							<strong><p style="font-size:15px; display:inline">Welcome, {{name}}!</p></strong>
							<a href="{{path('movie_rental_logout')}}" align="right">Logout</a>
							<form class="a"  enctype="multipart/form-data" align="right" method="POST" action="{{path('movie_rental_orders')}}">
								<button type="submit" class="btn btn-warning">List of orders</button>
							</form>
							<form class="a"  enctype="multipart/form-data" align="right" method="POST" action="{{path('movie_rental_borrowed')}}">
								<button type="submit" class="btn btn-warning">List of borrowed</button>
							</form>
						</div>
					{% endif %}

					<ul class="nav nav-tabs">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="{{path('movie_rental_melodramaGenre')}}">Melodrama</a></li>
						<li><a href="{{path('movie_rental_comedyGenre')}}">Comedy</a></li>
						<li><a href="{{path('movie_rental_dramaGenre')}}">Drama</a></li>
						<li><a href="{{path('movie_rental_horrorGenre')}}">Horror</a></li>
						<li><a href="{{path('movie_rental_fantasyGenre')}}">Fantasy</a></li>
						<li><a href="{{path('movie_rental_scienceGenre')}}">Science fiction</a></li>
						<li><a href="{{path('movie_rental_cartoonGenre')}}">Cartoons</a></li>
					</ul>
					
					<div class="span8">
						<div class="span4">
							<h5 align="center"><a href="{{path('movie_rental_hobbitTwo')}}">The Hobbit: The Desolation of Smaug</a></h5>
							<a href="{{path('movie_rental_hobbitTwo')}}"><img src="{{ asset('bundles/movierental/images/hobbit2.jpg') }}"></a><br/><br/><br/>
							<h5 align="center"><a href="{{path('movie_rental_sinister')}}">Sinister</a></h5>
							<a href="{{path('movie_rental_sinister')}}"><img src="{{ asset('bundles/movierental/images/sinister.jpg') }}"></a><br/><br/><br/>

							
						</div>
						<div class="span4">							
							<h5 align="center"><a href="{{path('movie_rental_hobbitTwo')}}">The Hobbit: The Desolation of Smaug</a></h5>
							<a href="{{path('movie_rental_hobbitTwo')}}"><img src="{{ asset('bundles/movierental/images/hobbit2.jpg') }}"></a><br/><br/><br/>
							<h5 align="center"><a href="{{path('movie_rental_conjuring')}}">The Conjuring</a></h5>
							<a href="{{path('movie_rental_conjuring')}}"><img src="{{ asset('bundles/movierental/images/conjuring.jpg') }}"></a><br/><br/><br/>
							
						<div class="span4">
							<h5 align="center"><a href="{{path('movie_rental_sinister')}}">Sinister</a></h5>
							<a href="{{path('movie_rental_sinister')}}"><img src="{{ asset('bundles/movierental/images/sinister.jpg') }}"></a><br/><br/><br/>
							<h5 align="center"><a href="{{path('movie_rental_hobbitOne')}}">The Hobbit: An Unexpected Journey</a></h5>
							<a href="{{path('movie_rental_hobbitOne')}}"><img src="{{ asset('bundles/movierental/images/hobbit1.jpg') }}"></a><br/><br/><br/>
						</div>
					</div>
					<div class="span3">
						<h5 align="center"><a href="{{path('movie_rental_hobbitTwo')}}">The Hobbit: The Desolation of Smaug</a></h5>
						<video width="300" poster="{{ asset('bundles/movierental/images/hobbit2.jpg') }}" controls>
							<source src="{{ asset('bundles/movierental/video/hobbit2.mp4') }}" type="video/mp4">
						</video>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</HTML>