<!DOCTYPE html>
<HTML>
	<head>
		<title>Film Rental</title>
		<meta charset="UTF-8">
		<link href="{{ asset('bundles/movierental/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
		<style>
			('.carousel').carousel()
		
		label {
			font-weight: bold;
		}
		</style>
		<script language="javascript">
		function fdate(x)
		{
			pattern=/^[1-2][0-9]|[0][1-9]|[3][0-1]$/
			if (!x.value.match(pattern))
			alert("Inappropriate date")
		}
		function fmonth(x)
		{
			pattern=/^[0][1-9]|[1][0-2]$/
			if (!x.value.match(pattern))
			alert("Inappropriate month")
		}
		function fyear(x)
		{
			pattern=/^[2][0][1][5]$/
			if (!x.value.match(pattern))
			alert("Inappropriate year. Please, write current one")
		}
		</script>
		<style>
			h4 {color:orange;
			font-size:2em;
			font-variant: small-caps;}
			h5 {font-size: 125%;
			font-weight: bold;}
			body{margin: 25px 5px;}
			.overlay { 
			color:#fff;
			position:absolute;
			z-index:12;
			top:50%;
			left:0;
			width:100%;
			text-align:center;
			}
			a.white {color:#fff;}
			h3 {
			background-color: rgba(203, 233, 247, 0.5);;
			}
			form.a {
			display: inline;
			}
		</style>
		<script>
		function pay() {
			document.getElementById("pay").style.display="block";
			document.getElementById("two").style.display="none";
			document.getElementById("nine").style.display="none";}
		function back(){
			document.getElementById("pay").style.display="none";
			document.getElementById("two").style.display="block";
			document.getElementById("nine").style.display="block";
		}
		function gopay() {
			document.getElementById("add").style.display="block";
			document.getElementById("two").style.display="none";
			document.getElementById("nine").style.display="none";}
		function goback(){
			document.getElementById("add").style.display="none";
			document.getElementById("two").style.display="block";
			document.getElementById("nine").style.display="block";
		}
		</script>
	</head>
	<body>	
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<h4 align="center">Most borrowed</h4>
					<div class="container"><br>
						<div id="myCarouselBorrowed" class="carousel slide" data-ride="carousel" style="width:200px">
						
						<ol class="carousel-indicators">
							<li data-target="#myCarouselBorrowed" data-slide-to="0" class="active"></li>
							<li data-target="#myCarouselBorrowed" data-slide-to="1"></li>
							<li data-target="#myCarouselBorrowed" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner" role="listbox">

						<div class="item active">
							<div class="overlay"><a class="white" href="{{path('movie_rental_lucy')}}"><h3>Lucy</h3></a></div>
							<a href="{{path('movie_rental_lucy')}}"><img src="{{ asset('bundles/movierental/images/lucy.jpg') }}"></a>
						</div>
						<div class="item">
							<div class="overlay"><a class="white" href="{{path('movie_rental_conjuring')}}"><h3>Сonjuring</h3></a></div>
							<a href="{{path('movie_rental_conjuring')}}"><img src="{{ asset('bundles/movierental/images/conjuring.jpg') }}" ></a>
						</div>
						<div class="item">
							<div class="overlay"><a class="white" href="{{path('movie_rental_game')}}"><h3>The Imitation Game</h3></a></div>
							<a href="{{path('movie_rental_game')}}"><img src="{{ asset('bundles/movierental/images/game.jpg') }}"></a>
						</div>
  
						</div>
    
						<a class="carousel-control left" href="#myCarouselBorrowed" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarouselBorrowed" data-slide="next">&rsaquo;</a>
						</div>
					</div>
						
					<h4 align="center">Most reviewed</h4>
					<div class="container"><br>
						<div id="myCarouselReviewed" class="carousel slide" data-ride="carousel" style="width:200px">
						
						<ol class="carousel-indicators">
							<li data-target="#myCarouselReviewed" data-slide-to="0" class="active"></li>
							<li data-target="#myCarouselReviewed" data-slide-to="1"></li>
							<li data-target="#myCarouselReviewed" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner" role="listbox">

						<div class="item active">
							<div class="overlay"><a class="white" href="{{path('movie_rental_hobbitOne')}}"><h3>The Hobbit: An Unexpected Journey</h3></a></div>
							<a href="{{path('movie_rental_hobbitOne')}}"><img src="{{ asset('bundles/movierental/images/hobbit1.jpg') }}"></a>
						</div>
						<div class="item">
							<div class="overlay"><a class="white" href="{{path('movie_rental_bean')}}"><h3>Mr. Bean</h3></a></div>
							<a href="{{path('movie_rental_bean')}}"><img src="{{ asset('bundles/movierental/images/bean.jpeg') }}" ></a>
						</div>
						<div class="item">
							<div class="overlay"><a class="white" href="{{path('movie_rental_dragon')}}"><h3>How to Train your Dragon</h3></a></div>
							<a href="{{path('movie_rental_dragon')}}"><img src="{{ asset('bundles/movierental/images/dragon.jpg') }}"></a>
						</div>
  
						</div>
    
						<a class="carousel-control left" href="#myCarouselReviewed" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarouselReviewed" data-slide="next">&rsaquo;</a>
						</div>
					</div>
				</div>
			
				<div class="span10">
				{% if name is not defined %}
					<form class="form-horizontal"  enctype="multipart/form-data" align="right" method="POST" action="{{path('movie_rental_main')}}">
						<input class="input" type="text"  name="login"  placeholder="Login">	
						<input class="input" type="password" name="password"  placeholder="Password">
						<button type="submit" class="btn btn-primary">Login</button>
						<a href="{{path('movie_rental_register')}}">Register</a>
					</form>
				{% endif %}
					{% if name is defined %}
						<div align="right" class="alert">
							<strong><p style="font-size:15px; display:inline">Welcome, {{name}}!</p></strong>
							<a href="{{path('movie_rental_logout')}}" align="right">Logout</a>
							<form class="a"  enctype="multipart/form-data" align="right" method="POST" action="{{path('movie_rental_orders')}}">
								<button type="submit" class="btn btn-warning">List of orders</button>
							</form>
							<form class="a"  enctype="multipart/form-data" align="right" method="POST" action="{{path('movie_rental_borrowed')}}">
								<button type="submit" class="btn btn-warning">List of borrowed</button>
							</form>
						</div>
					{% endif %}

					<ul class="nav nav-tabs">
						<li><a href="{{path('movie_rental_main')}}">Home</a></li>
						<li><a href="{{path('movie_rental_melodramaGenre')}}">Melodrama</a></li>
						<li><a href="{{path('movie_rental_comedyGenre')}}">Comedy</a></li>
						<li><a href="{{path('movie_rental_dramaGenre')}}">Drama</a></li>
						<li><a href="{{path('movie_rental_horrorGenre')}}">Horror</a></li>
						<li><a href="{{path('movie_rental_fantasyGenre')}}">Fantasy</a></li>
						<li><a href="{{path('movie_rental_scienceGenre')}}">Science fiction</a></li>
						<li><a href="{{path('movie_rental_cartoonGenre')}}">Cartoons</a></li>
					</ul>
					<div class="span3">
						{% block cover %}
						{% endblock %}
					</div>
					<div class="span8">
						{% block title %}
						{% endblock %}
						<div id="two" class="span2">
							{% block info %}
							{% endblock %}
						</div>
						<div id="nine" class="span9">
							{% block genres %}
							{% endblock %}
							{% block starring %}
							{% endblock %}
							{% block year %}
							{% endblock %}
							{% block description %}
							{% endblock %}
							{% block language %}
							{% endblock %}
							{% block price %}
							{% endblock %}
							<form class="form-horizontal"  enctype="multipart/form-data" method="POST" action="{{path('movie_rental_borrow')}}">
							{% if name is not defined %}<button type="submit" class="btn btn-warning">Borrow!</button>{% endif %}
							{% if name is defined %}<input type="button" onClick="pay()" class="btn btn-warning" value="Borrow!"/>{% endif %}
							{% if name is defined %}<input type="button" onClick="gopay()" class="btn btn-primary" value="Add a review"/>{% endif %}
							</form>
							{% block trailer %}
							{% endblock %}
						</div>
						<form id="add" style="display:none" class="form-horizontal"  enctype="multipart/form-data" method="POST" action="{{path('movie_rental_review')}}">
							<h2>Please, add a review:</h2>
							<label for="moviereview"></label>
							<textarea class="form-control" rows="10" name="moviereviews" id="moviereviews" placeholder="Type review here..."></textarea>
							</br></br>
							<button type="submit" class="btn btn-primary">Send</button>
							<input type="button" onClick="goback()" class="btn" value="Go back">
						</form>
						<form id="pay" style="display:none" method="POST" action="{{path('movie_rental_mail')}}">
							<h2>Payment form:</h2>
							<label for="form">Payment form:</label>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="radio1" value="option1" checked>
									Payment by cash
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="radio2" value="option2">
									Payment by credit card
								</label>
						   </div>
							<label for="term">Term:</label>
							<input class="input-small" type="text"  name="term" id="term">
							</br>
							<label for="date">Payment date:</label>
				
							<div class="form-group">
								<input class="input-small" name="date" onBlur="fdate(date)" placeholder="DD">
							</div>
							</br>
							<div class="form-group">
								<input class="input-small" name="month" onBlur="fmonth(month)"  placeholder="MM">
							</div>
							</br>
							<div class="form-group">
								<input class="input-small" name="year" onBlur="fyear(year)"  placeholder="YYYY">
							</div><br/>
				
							<button type="submit" class="btn btn-primary">Send</button>
							<input type="button" onClick="back()" class="btn" value="Go back">
						</form>	
					</div>		
				</div>
			</div>
		</div>
	</body>
</HTML>